---

---
@import url('http://fonts.googleapis.com/css?family=Supermercado+One');
@import url('http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600');
@import url('http://fonts.googleapis.com/css?family=Lato:400,700,400italic&subset=latin,latin-ext');
@import url('http://fonts.googleapis.com/css?family=Roboto');
@charset "utf-8";

html {
    font-size: 17px;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Crimson Text', serif;
    font-size: 1em;
    line-height: 1.2;
    background: white;
    color: black;
}

.wrapper {
    padding: 0.5em 2em;
    max-width: 30em;
    text-align: justify;
    margin: auto;
}

.logotype {
    font-family: 'Supermercado One', cursive;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size : 2em;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.menu li {
    display: inline;
    padding: 0 1em;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
}
